.first-galery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.first-galery-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-galery-block img {
  height: 360px;
  max-width: 360px;
  border-radius: 50px;
  position: relative;
  opacity: 0.8;
}

.first-galery-block h6 {
  position: absolute;
  z-index: 1;
}

@media (max-width: 800px) {
  .first-galery-block img {
    height: auto;
  }
}

@media (max-width: 400px) {
  .first-galery-block img {
    max-width: 300px;
  }
}