.header-font {
  font: normal 1rem/1.1 "Montserrat", sans-serif;
}

.font-1-l {
  font: 700 3.75rem/1.1 "Montserrat", sans-serif;
}

.font-6-s {
  font: 700 1.125rem/1.1 "Montserrat", sans-serif;
  text-transform: uppercase;
}